<div class="main">
<h1>Exclusive Jerseys</h1>
<div style="width:800px; margin:0 auto;">  

<div class="row"> 
<div class="col-lg-4", > 
    <h2>Jerseys that have not been ordered</h2>
<div id="unordered">   
  <table> 
        <tr>
            <th>ID</th>
            <th>Jersey Name</th> 
            <th>Ordered?</th>
            <th>Delete</th>
          </tr>
        <tr>
    {{#each jersey}}
    {{#unless ordered}}
      
            <td>{{this.id}}.</td>
            <td>{{this.jersey}}</td> 
            <td>
              <form action="/update" method="POST">
              <input type="hidden" name="ordered" value="{{this.id}}">
              <button type="submit">Ordered</button>
              </form>
            </td>
            <td>
            <form action="/delete" method="POST">
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="submit">Delete</button>
            </form>
            </td>
          </tr>
        
        {{/unless}}
        {{/each}}
        </table>

</div>  
</div>

<div class="col-lg-4" id="add"> 


<h2>Add a Jersey</h2>
<form method="POST" action="/create">
<textarea type="input" name="myjersey"></textarea>
<button type="submit">Add Jersey</button>
</form>

<form method="POST" action="/update?_method=PUT">
  <div class="form-group">
    <label for="sold">Has anyone purchased this jersey?</label><br>
    <input type="radio" name="sold" value="1" checked> Sold<br>
    <input type="radio" name="sold" value="0"> Not sold <br>
    <button type="submit">Update</button>
  </div>
</form>

</div> 

<div class="col-lg-4"> 

<h2>Jerseys that have been ordered</h2>
<div id="ordered"> 
<table> 
  <tr>
    <th>ID</th>
    <th>Jersey Name</th> 
    <th>Sold?</th>
    <th>Delete</th>
  </tr>
  {{#each jersey}}
    {{#if ordered}}
  <tr>
    <td>{{this.id}}.</td>
    <td>{{this.jersey}}</td> 
    <td>{{this.sold}}</td>
    <td>
        <form action="/delete?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="{{this.id}}">
        <button type="submit">Delete</button>
        </form>
    </td>
  </tr>

    {{/if}}
  {{/each}}
</table>
</div>
</div>

 
</div>

</div>
</div>